body {
    /* background-image: url("../images/80s9.jpg"); */
    background-color: blue;
}

h1 {
    font-family: 'Faster One';
    font-size: 70px;
    color: #00eeff;
    letter-spacing: 8px;
    text-align: center
}

.button-grp {
    text-align: center;
}

#b1 {
    background-color: #00eeff;
    margin-top: 1px;
    border: 2px solid rgb(233, 43, 148);
    color: rgb(233, 43, 148);
    width: 8%;
}

#b1:hover {
    background-color: rgb(233, 43, 148);
    color: #00eeff;
    border: 2px solid #00eeff;
  }

#b2 {
    background-color: #00eeff;
    margin-top: 1px;
    border: 2px solid rgb(233, 43, 148);
    color: rgb(233, 43, 148);
    width: 8%;
}

#b2:hover {
    background-color: rgb(233, 43, 148);
    color: #00eeff;
    border: 2px solid #00eeff;
}

#b3 {
    background-color: #00eeff;
    margin-top: 1px;
    border: 2px solid rgb(233, 43, 148);
    color: rgb(233, 43, 148);
    width: 8%;
}

#b3:hover {
    background-color: rgb(233, 43, 148);
    color: #00eeff;
    border: 2px solid #00eeff;
}

#b4 {
    background-color: #00eeff;
    margin-top: 1px;
    border: 2px solid rgb(233, 43, 148);
    color: rgb(233, 43, 148);
    width: 8%;
}

#b4:hover {
    background-color: rgb(233, 43, 148);
    color: #00eeff;
    border: 2px solid #00eeff;
}

#b5 {
    background-color: #00eeff;
    margin-top: 1px;
    border: 2px solid rgb(233, 43, 148);
    color: rgb(233, 43, 148);
    width: 8%;
}

#b5:hover {
    background-color: rgb(233, 43, 148);
    color: #00eeff;
    border: 2px solid #00eeff;
}

#b6 {
    background-color: #00eeff;
    margin-top: 5px;
    border: 2px solid rgb(233, 43, 148);
    color: rgb(233, 43, 148);
    width: 8%;
}

#b6:hover {
    background-color: rgb(233, 43, 148);
    color: #00eeff;
    border: 2px solid #00eeff;
}

#b7 {
    background-color: #00eeff;
    margin-top: 5px;
    border: 2px solid rgb(233, 43, 148);
    color: rgb(233, 43, 148);
    width: 8%;
}

#b7:hover {
    background-color: rgb(233, 43, 148);
    color: #00eeff;
    border: 2px solid #00eeff;
}

#b8 {
    background-color: #00eeff;
    margin-top: 5px;
    border: 2px solid rgb(233, 43, 148);
    color: rgb(233, 43, 148);
    width: 8%;
}

#b8:hover {
    background-color: rgb(233, 43, 148);
    color: #00eeff;
    border: 2px solid #00eeff;
}

#b9 {
    background-color: #00eeff;
    margin-top: 5px;
    border: 2px solid rgb(233, 43, 148);
    color: rgb(233, 43, 148);
    width: 8%;
}

#b9:hover {
    background-color: rgb(233, 43, 148);
    color: #00eeff;
    border: 2px solid #00eeff;
}

#b10 {
    background-color: #00eeff;
    margin-top: 5px;
    border: 2px solid rgb(233, 43, 148);
    color: rgb(233, 43, 148);
    width: 8%;
}

#b10:hover {
    background-color: rgb(233, 43, 148);
    color: #00eeff;
    border: 2px solid #00eeff;
}